---
import Layout from '../layouts/Layout.astro';
---

<Layout title='เกี่ยวกับ | nabtang.cc เว็บไซต์ Portfolio ออนไลน์ Dek68'>
    <h1>about page</h1>

    <!-- Personal Info -->

    <!-- Inspiration -->

    <!-- Future Career -->

</Layout>
