---
import Layout from '../layouts/Layout.astro';
---

<Layout title='บทความ | nabtang.cc เว็บไซต์ Portfolio ออนไลน์ Dek68'>
    <h1 class="text-center text-3xl lg:text-4xl font-bold">บทความทั้งหมด</h1>

    
    
</Layout>