---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

//import images
import header from '../assets/ham/ham-1.jpg';
---

<Layout title='กิจการวิทยุสมัครเล่น | nabtang.cc เว็บไซต์ Portfolio ออนไลน์ Dek68'>
    <div class="prose px-4 md:px-12 lg:px-24 overflow-visible relative">
        <h1>กิจการวิทยุสมัครเล่น</h1>
        <h2>กิจการวิทยุสมัครเล่นเกี่ยวข้องกับคณะวิศวกรรมอย่างไร</h2>
        <p>
            นักวิทยุสมัครเล่นมีความเกี่ยวข้องกับวิศวกรรมหลายด้าน เช่น วิศวกรรมเครื่องกล วิศวกรรมไฟฟ้า อิเล็กทรอนิกส์ และคอมพิวเตอร์ 
            โดยต้องมีทักษะในการออกแบบและการสร้างอยู่ทั้งด้านเครื่องกล และไฟฟ้า การสร้างและปรับปรุงเสาอากาศ และการใช้งานซอฟต์แวร์สื่อสารต่าง ๆ 
            การเขียนโปรแกรมเพื่อควบคุมระบบ  ใช้ในการเพิ่มประสิทธิภาพการสื่อสารไร้สาย นอกจากนี้ยังได้ฝึกทักษะการวิเคราะห์และแก้ปัญหาทางเทคนิค 
            ซึ่งช่วยเตรียมความพร้อมสู่การทำงานในสายงานวิศวกรรมที่เกี่ยวข้องในอนาคตอย่างถูกต้องตามกฎหมาย 
            ซึ่งจะเป็นประโยชน์ในการต่อยอดความรู้ในด้านวิศวกรรมและการสื่อสารผ่านดาวเทียม 
            รวมถึงการนำองค์ความรู้ที่ได้จาาการทำโครงงานต่างไปประยุกต์ใช้ในอุตสาหกรรมอื่นๆในอนาคตได้อีกด้วย
        </p>
        <figure>
            <Image src={header} alt="รูปถ่ายรวม ณ ศูนย์ฝึกอบรมธนาคารไทยพาณิชย์ หาดตะวันรอน" loading="eager"/>
            <figcaption class="mt-2 text-sm text-gray-600">รูปถ่ายรวม ณ ศูนย์ฝึกอบรมธนาคารไทยพาณิชย์ หาดตะวันรอน</figcaption>
        </figure>
        <h2>ผมกับกิจการวิทยุสมัครเล่น</h2>
        <a>อ่านเพิ่มเติมีที่</a>
        <h2>รวมสิ่งประดิษฐ์และผลงานของผมที่เกี่ยวข้องกับกิจการวิทยุสมัครเล่น</h2>
    </div>
</Layout>