---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

//import images
import header from '../assets/ham/ham-5.jpg';
---

<Layout title='กิจการวิทยุสมัครเล่น | nabtang.cc เว็บไซต์ Portfolio ออนไลน์ Dek68'>
    <div class="prose px-4 md:px-12 lg:px-24 overflow-visible relative !max-w-none">
    <div class="flex flex-col lg:flex-row items-start">
        <div class="lg:w-2/3">
        <h1>กิจการวิทยุสมัครเล่น</h1>
        <h2>กิจการวิทยุสมัครเล่นเกี่ยวข้องกับคณะวิศวกรรมอย่างไร</h2>
        <p>
            นักวิทยุสมัครเล่นมีความเกี่ยวข้องกับวิศวกรรมหลายด้าน เช่น วิศวกรรมเครื่องกล วิศวกรรมไฟฟ้า อิเล็กทรอนิกส์ และคอมพิวเตอร์ 
            โดยต้องมีทักษะในการออกแบบและการสร้างอยู่ทั้งด้านเครื่องกล และไฟฟ้า การสร้างและปรับปรุงเสาอากาศ และการใช้งานซอฟต์แวร์สื่อสารต่าง ๆ 
            การเขียนโปรแกรมเพื่อควบคุมระบบ  ใช้ในการเพิ่มประสิทธิภาพการสื่อสารไร้สาย นอกจากนี้ยังได้ฝึกทักษะการวิเคราะห์และแก้ปัญหาทางเทคนิค 
            ซึ่งช่วยเตรียมความพร้อมสู่การทำงานในสายงานวิศวกรรมที่เกี่ยวข้องในอนาคตอย่างถูกต้องตามกฎหมาย 
            ซึ่งจะเป็นประโยชน์ในการต่อยอดความรู้ในด้านวิศวกรรมและการสื่อสารผ่านดาวเทียม 
            รวมถึงการนำองค์ความรู้ที่ได้จากการทำโครงงานต่างไปประยุกต์ใช้ในอุตสาหกรรมอื่นๆในอนาคตได้อีกด้วย
        </p>

        <h2>ผมกับกิจการวิทยุสมัครเล่น</h2>
        <p>
            ผมมีความผูกพันกับกิจการวิทยุสมัครเล่นมาตั้งแต่เด็ก ในสมัยก่อน คุณพ่อของผมมักจะหยิบเครื่องวิทยุสื่อสารของท่านมาให้ลองจับ และสาธิตการออกอากาศให้ผมดู
            ตั้งแต่นั้นมาผมก็สนใจกับกิจการวิทยุสมัครเล่นเป็นพิเศษ และทำการสอบวิทยุขั้นต้นในวัย 15 ปี <a href="/posts/ham" class="text-emerald-600">อ่านเพิ่มเติม</a>
        </p>
        </div>
        <figure class="max-w-[500px] md:max-w-[300px] lg:w-1/3 ml-0 lg:ml-8 mt-4 lg:mt-0 border border-gray-400 bg-gray-100 p-2 overflow-hidden">
            <Image src={header} alt="ขณะทำการออกอากาศจากเครื่องวิทยุสื่อสาร" loading="eager" height={800}/>
            <figcaption class="mt-2 text-sm text-gray-600">ขณะทำการออกอากาศจากเครื่องวิทยุสื่อสาร</figcaption>
        </figure>
    </div>
    <h2>รวมสิ่งประดิษฐ์และผลงานของผมที่เกี่ยวข้องกับกิจการวิทยุสมัครเล่น</h2>
    </div>
</Layout>