---
import AstroPerformance from '../components/AstroPerformance.astro';
import BlogCard from '../components/BlogCard.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="หน้าหลัก | nabtang.cc เว็บไซต์ Portfolio ออนไลน์ Dek68">

	<div class="px-4 md:px-8">
		<!-- Introduction -->
		<div class="w-full flex justify-center">
			<div class="w-full max-w-xl lg:w-1/2 xl:w-1/2 flex flex-col items-center justify-center text-center">
				<h1 class="text-3xl lg:text-5xl font-bold">
					<span class="text-orange-600">นับตังค์ดอทซีซี</span><br>เว็บไซต์พอร์ตที่โหลดเร็วกว่าเพื่อน
				</h1>
				<p class="text-lg text-gray-700 mt-4">
					นำเสนอผลงานด้านวิศวกรรมศาสตร์และคอมพิวเตอร์ สำหรับยื่นพอร์ตเข้ามหาลัยคณะวิศวกรรมศาสตร์
				</p>
				<a href="/project" class="bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition mt-6">ดูผลงาน</a>
			</div>
		</div>

		<br>

		<!-- Quote -->
		<blockquote>
			<p>ชัยชนะอาจสิ้นสุดลง แต่ประสบการณ์ที่เราเก็บเกี่ยวจะอยู่กับเราไปตลอดกาล เหมือนร่องรอยที่สลักลงบนใจ สร้างแรงบันดาลใจในทุกก้าวย่างของชีวิต</p>
			<footer><cite>– แชทจีพีที 4o mini, มีแรงบันดาลใจมาจากคุณพ่อ</cite></footer>
		</blockquote>

		<!-- Performance -->
		<AstroPerformance />

		<!-- Project -->
		<ProjectCard />

		<!-- Blog -->
		<BlogCard />

		<!-- Certificate -->
		<h2 class="mt-20 md:mt-24 lg:mt-28 xl:mt-36 font-heading text-2xl lg:text-3xl text-black text-balance"><strong>เกียรติบัตร</strong></h2>

		<!-- About Me -->
		<h2 class="mt-20 md:mt-24 lg:mt-28 xl:mt-36 font-heading text-2xl lg:text-3xl text-black text-balance"><strong>เกี่ยวกับฉัน</strong></h2>

		<!-- Contact -->
		<div class="my-10 text-gray-600 font-serif text-center">
			<p>Would you like to get in touch?</p>
			<p class="text-2xl sm:text-3xl md:text-4xl my-2">Say <a href="mailto:hello@nabtang.cc" class="text-emerald-600	 hover:underline">hello@nabtang.cc</a></p>
		</div>
	</div>
</Layout>