---
import Layout from '../layouts/Layout.astro';
---

<Layout title="หน้าหลัก | nabtang.cc เว็บไซต์ Portfolio ออนไลน์ Dek68">
	<!--Introduction -->
	<div class="w-full flex justify-center py-8 px-4">
		<div class="w-full max-w-xl lg:w-1/2 xl:w-1/2 flex flex-col items-center justify-center text-center">
			<h1 class="text-3xl lg:text-5xl font-bold"><span class="text-orange-500">Check</span> the Health and SEO Score of&nbsp;Any Website</h1>        <p class="text-lg text-gray-700 mt-4">Run a website rating check to get your SEO score, optimize web pages, and strategize to&nbsp;outrank competitors</p>
			<a href="/about" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition mt-6">Learn More</a>
		</div>
	</div>
</Layout>