---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
---

<Layout title="JSTP | nabtang.cc เว็บไซต์ Portfolio ออนไลน์ Dek68">
    <div class="prose px-4 md:px-12 lg:px-24 overflow-visible relative">
        <h1>โครงการพัฒนาอัจฉริยภาพทางวิทยาศาสตร์สำหรับเด็กและเยาวชน : Junior Science Talent Project (JSTP) โดย สวทช.</h1>
        <figure>
            <Image src="/images/jstp/jstp-header.jpg" alt="รูปรวม" loading="eager" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
        </figure>
        <h2>โครงการ JSTP คืออะไร</h2>
        <p>
            โครงการพัฒนาอัจฉริยภาพทางวิทยาศาสตร์สำหรับเด็กและเยาวชน หรือ JSTP (Junior Science Talent Project) 
            เป็นโครงการที่ริเริ่มโดยสำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ (สวทช.) 
            ตั้งแต่ปี 2540 เพื่อส่งเสริมและพัฒนาเด็กและเยาวชนผู้มีความสามารถพิเศษทางด้านวิทยาศาสตร์และเทคโนโลยี 
            โดยมุ่งหวังที่จะค้นหาและสนับสนุนผู้ที่มีศักยภาพในการเป็นนักวิทยาศาสตร์และนักวิจัย ผ่านกิจกรรมต่าง ๆ 
            เช่น ค่ายวิทยาศาสตร์ การทำโครงงานวิทยาศาสตร์ 
            และการมีนักวิทยาศาสตร์พี่เลี้ยงเพื่อเสริมสร้างทักษะและประสบการณ์ที่จำเป็นในการพัฒนาไปสู่อาชีพในด้านนี้ต่อไป
        </p>
        <h3>ระดับของโครงการ</h3>
        <li><strong>ระดับผู้มีความสามารถพิเศษ (Gifted and Talented Children): </strong>
            คัดเลือกเด็กและเยาวชนระดับมัธยมศึกษาจำนวนปีละประมาณ 50 คน เพื่อเข้าร่วมกิจกรรมส่งเสริมประสบการณ์และพัฒนาศักยภาพ
        </li>
        <li><strong>ระดับผู้มีแววอัจฉริยภาพ (Genius): </strong>
            คัดเลือกจากกลุ่มแรกปีละประมาณ 7 คน เพื่อรับการสนับสนุนระยะยาวจนสำเร็จการศึกษาระดับปริญญาเอก
        </li>
        <figure>
            <Image src="/images/jstp/JSTP-02-768x432.jpg" alt="รูปรวม" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
        </figure>
        <h2>โครงงานของผม</h2>
        <p>
            โครงงานของผมเองทำเกี่ยวกับ แขนกลสำหรับติดตามดาวเทียมกิจการวิทยุสมัครเล่น ที่จะทำหน้าที่ติดตามดาวเทียมที่โคจรเข้ามาในน่านฟ้าประเทศไทย
            a.fhojl;ja;lkjg;lsjgh;aslgj;ljasg;lgk
            jasl;kgja;kgjal;jkjga;lkgj;laskgj;lasgjasl;gjal;gk
        </p>
        <h2>ที่มาของโครงงาน</h2>
        <figure>
            <Image src="/images/jstp/JSTP-02-768x432.jpg" alt="รูปรวม" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
        </figure>
        <h3>หลักการทำงานของแขนกล</h3>
        <h3>นักวิทยาศาสตร์พี่เลี้ยง</h3>


        <figure>
            <Image src="/images/jstp/jstp-antenna-rotator-1.png" alt="รูปรวม" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
        </figure>    
        <p>
            But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
            springing up around the country.
        </p>
        <Image src="/images/jstp/jstp3.jpg" alt="Garlic bread with cheese" width={500} height={300} />
        <h2>กิจกรรมนำเสนอความก้าวหน้า</h2>
        <figure>
            <Image src="/images/jstp/jstp-activity.webp" alt="รูปรวม" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
        </figure>
        <figure>
            <Image src="/images/jstp/jstp-presenting-1.jpg" alt="รูปรวม" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
        </figure>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat mollis dui a iaculis. 
            Praesent quis ligula nisi. Suspendisse vel tristique turpis. Nunc in nulla ornare, dapibus lacus et, 
            tristique mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
            Quisque ullamcorper finibus est id sagittis. Cras mollis mauris sed semper pulvinar. Praesent porta, 
            erat non vehicula rhoncus, risus lectus pellentesque augue, eget malesuada dui nunc et ante. 
            Sed sed ipsum vel dolor volutpat volutpat. Morbi tempus maximus tortor, at lacinia ex viverra ut. 
            Vestibulum dui ligula, vehicula mattis erat sit amet, venenatis tincidunt eros. 
            Suspendisse vel tortor in mauris porta gravida. Integer nec sapien a risus viverra ornare eget et tortor. 
            Sed rhoncus neque vel elit dapibus, et mollis justo fermentum.
        </p>
        <Image src="/images/jstp/jstp4.jpg" alt="Garlic bread with cheese" width={500} height={300} />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat mollis dui a iaculis. 
            Praesent quis ligula nisi. Suspendisse vel tristique turpis. Nunc in nulla ornare, dapibus lacus et, 
            tristique mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
            Quisque ullamcorper finibus est id sagittis. Cras mollis mauris sed semper pulvinar. Praesent porta, 
            erat non vehicula rhoncus, risus lectus pellentesque augue, eget malesuada dui nunc et ante. 
            Sed sed ipsum vel dolor volutpat volutpat. Morbi tempus maximus tortor, at lacinia ex viverra ut. 
            Vestibulum dui ligula, vehicula mattis erat sit amet, venenatis tincidunt eros. 
            Suspendisse vel tortor in mauris porta gravida. Integer nec sapien a risus viverra ornare eget et tortor. 
            Sed rhoncus neque vel elit dapibus, et mollis justo fermentum.
        </p>
        <h2>สิ่งที่ได้รับจากโครงการ JSTP</h2>
    </div>
</Layout>