---
import Layout from '../layouts/Layout.astro';
---

<Layout title="JSTP | nabtang.cc เว็บไซต์ Portfolio ออนไลน์ Dek68">
    <h1>โครงการพัฒนาอัจฉริยภาพทางวิทยาศาสตร์สำหรับเด็กและเยาวชน : Junior Science Talent Project (JSTP) โดย สวทช.</h1>
</Layout>