---
import Layout from '../layouts/Layout.astro';
---

<Layout title="JSTP">
    <h1>โครงการพัฒนาอัจฉริยภาพทางวิทยาศาสตร์สำหรับเด็กและเยาวชน : Junior Science Talent Project (JSTP) โดย สวทช.</h1>
</Layout>