---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
---

<Layout title="JSTP | nabtang.cc เว็บไซต์ Portfolio ออนไลน์ Dek68">
    <div class="prose px-4 md:px-12 lg:px-24 overflow-visible relative">
        <h1>โครงการพัฒนาอัจฉริยภาพทางวิทยาศาสตร์สำหรับเด็กและเยาวชน : Junior Science Talent Project (JSTP) โดย สวทช.</h1>
        <figure>
            <Image src="/images/jstp/jstp-header.jpg" alt="รูปถ่ายรวม ณ ศูนย์ฝึกอบรมธนาคารไทยพาณิชย์ หาดตะวันรอน" loading="eager" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">รูปถ่ายรวม ณ ศูนย์ฝึกอบรมธนาคารไทยพาณิชย์ หาดตะวันรอน</figcaption>
        </figure>
        <h2>โครงการ JSTP คืออะไร</h2>
        <p>
            โครงการพัฒนาอัจฉริยภาพทางวิทยาศาสตร์สำหรับเด็กและเยาวชน หรือ JSTP (Junior Science Talent Project) 
            เป็นโครงการที่ริเริ่มโดยสำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ (สวทช.) 
            ตั้งแต่ปี 2540 เพื่อส่งเสริมและพัฒนาเด็กและเยาวชนผู้มีความสามารถพิเศษทางด้านวิทยาศาสตร์และเทคโนโลยี 
            โดยมุ่งหวังที่จะค้นหาและสนับสนุนผู้ที่มีศักยภาพในการเป็นนักวิทยาศาสตร์และนักวิจัย ผ่านกิจกรรมต่าง ๆ 
            เช่น ค่ายวิทยาศาสตร์ การทำโครงงานวิทยาศาสตร์ 
            และการมีนักวิทยาศาสตร์พี่เลี้ยงเพื่อเสริมสร้างทักษะและประสบการณ์ที่จำเป็นในการพัฒนาไปสู่อาชีพในด้านนี้ต่อไป
            <a href="https://www.nstda.or.th/jstp/" target="_blank" class="text-emerald-600" rel="noopener noreferrer">ศึกษาเพิ่มเติม</a>
        </p>
        <h3>ระดับของโครงการ</h3>
        <li><strong>ระดับผู้มีความสามารถพิเศษ (Gifted and Talented Children): </strong>
            คัดเลือกเด็กและเยาวชนระดับมัธยมศึกษาจำนวนปีละประมาณ 50 คน เพื่อเข้าร่วมกิจกรรมส่งเสริมประสบการณ์และพัฒนาศักยภาพ
        </li>
        <li><strong>ระดับผู้มีแววอัจฉริยภาพ (Genius): </strong>
            คัดเลือกจากกลุ่มแรกปีละประมาณ 7 คน เพื่อรับการสนับสนุนระยะยาวจนสำเร็จการศึกษาระดับปริญญาเอก
        </li>
        <figure>
            <Image src="/images/jstp/JSTP-02-768x432.jpg" alt="ประกาศรับสมัครโครงการ JSTP รุ่นที่ 26 ประจำปี พ.ศ. 2566" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">ประกาศรับสมัครโครงการ JSTP รุ่นที่ 26 ประจำปี พ.ศ. 2566</figcaption>
        </figure>
        <h2>โครงงานของผม</h2>
        <p>
            โครงงานของผมเองทำเกี่ยวกับการประกอบ <strong>แขนกลสำหรับติดตามดาวเทียมกิจการวิทยุสมัครเล่น</strong> ที่จะทำหน้าที่ติดตามดาวเทียม
            ที่โคจรเข้ามาในน่านฟ้าประเทศไทย รวมถึงการทดสอบประสิทธิภาพของแขนกลดังกล่าว ให้อยู่ในเกณฑ์ที่จะสามารถนำไปใช้งานได้จริงต่อไปในอนาคต
        </p>
        <figure class="max-w-[260px] w-full">
            <div class="relative" style="padding-top: 177.78%;"> <!-- 9:16 aspect ratio -->
              <iframe class="absolute top-0 left-0 w-full h-full" 
                src="https://www.youtube.com/embed/NNtLvRwBU8A?si=GEkDEPYENAvl7-Ap" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
                loading="lazy">
              </iframe>
            </div>
            <figcaption class="mt-2 text-sm text-gray-600">แนะนำหลักการทำงานของแขนกลเบื้องต้น</figcaption>
        </figure>
        <!-- Buttons -->
        <div class="flex space-x-8">
            <!-- Left Column with Buttons -->
            <div class="flex flex-col space-y-4">
              <!-- Button 1 -->
              <a href="/resources/JSTP_Complete_Project_Report_Form.pdf" target="_blank" class="bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600 transition no-underline hover:underline">
                ดูแบบฟอร์มรายงานโครงานฉบับสมบูรณ์
              </a>
              <!-- Button 2 -->
              <a href="/resources/JSTP_Project_Summary_V2.pdf" target="_blank" class="bg-green-500 text-white px-6 py-3 rounded-lg hover:bg-green-600 transition no-underline hover:underline">
                ดูโปสเตอร์โครงงาน (สรุปโครงงานฉบับย่อ)
              </a>
            </div>
          </div>

        <h3>ที่มาของโครงงาน</h3>
        <p>
            เนื่องจากแขนกลสำหรับติดตามดาวเทียมวิทยุสมัครเล่นยังไม่เป็นที่แพร่หลายในประเทศไทย 
            และมีราคาสูงเมื่อใช้งานแขนกลที่ออกแบบสำหรับการใช้งานเชิงพาณิชย์ 
            ทำให้นักวิทยุสมัครเล่นที่ต้องการติดต่อกับดาวเทียมต้องถือสายอากาศทิศทางที่มีน้ำหนักมาก 
            และต้องชี้สายอากาศไปยังดาวเทียมด้วยตนเอง ซึ่งทำให้การติดต่อกับดาวเทียมวงโคจรต่ำมีความยากลำบาก 
            เนื่องจากดาวเทียมมีความเร็วสูงเมื่อเปรียบเทียบกับดาวเทียมในวงโคจรสูง ทำให้การติดตามดาวเทียมด้วยมือมีความแม่นยำต่ำ 
            ด้วยเหตุนี้ ผมจึงมีความตั้งใจที่จะพัฒนาโครงงานที่คล้ายกันนี้ให้สามารถประกอบขึ้นได้เองในบ้าน ด้วยต้นทุนที่ถูกลง 
            ลดการนำเข้าอุปกรณ์จากต่างประเทศ สามารถพกพาได้สะดวก และเพิ่มประสิทธิภาพให้ตรงตามเกณฑ์ที่ตั้งไว้ เพื่อให้นำไปใช้งานได้จริง
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <figure>
              <Image src="/images/jstp/jstp-antenna-rotator-1.jpg" alt="รูปรวม" width={300} height={150} />
              <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
            </figure>
            
            <figure>
              <Image src="/images/jstp/jstp-antenna-rotator-5.jpg" alt="รูปรวม" width={300} height={150} />
              <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
            </figure>
          </div>          


        <h3>การทดสอบแขนกล</h3>
        <figure class="max-w-[260px] w-full">
            <div class="relative" style="padding-top: 177.78%;"> <!-- 9:16 aspect ratio -->
              <iframe class="absolute top-0 left-0 w-full h-full" 
                src="https://www.youtube.com/embed/4Wigyr9ZIMs?si=lcaXaS3394Y1eeH9" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
                loading="lazy">
              </iframe>
            </div>
            <figcaption class="mt-2 text-sm text-gray-600">สาธิตการควบคุมแกน Elevation ของแขนกล</figcaption>
        </figure>
        <figure class="max-w-[260px] w-full">
            <div class="relative" style="padding-top: 177.78%;"> <!-- 9:16 aspect ratio -->
              <iframe class="absolute top-0 left-0 w-full h-full" 
                src="https://www.youtube.com/embed/ECzMzBs-YxQ?si=YUTQLsAHGuUjF590" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
                loading="lazy">
              </iframe>
            </div>
            <figcaption class="mt-2 text-sm text-gray-600">สาธิตการควบคุมแกน Azimuth ของแขนกล</figcaption>
        </figure>  
        <figure class="max-w-[260px] w-full">
            <div class="relative" style="padding-top: 177.78%;"> <!-- 9:16 aspect ratio -->
              <iframe class="absolute top-0 left-0 w-full h-full" 
                src="https://www.youtube.com/embed/AWzMFxUn6Ek?si=CTutOGwMlkcxRghM" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
                loading="lazy">
              </iframe>
            </div>
            <figcaption class="mt-2 text-sm text-gray-600">สาธิตการทดสอบเคลื่อนที่จากจุดใดๆไปยังตำแหน่งเริ่มต้น</figcaption>
        </figure>

        <h3>นักวิทยาศาสตร์พี่เลี้ยง</h3>

        <figure>
            <Image src="/images/jstp/jstp-antenna-rotator-2.webp" alt="รูปรวม" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
        </figure>
        <figure>
            <Image src="/images/jstp/jstp-antenna-rotator-3.webp" alt="รูปรวม" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
        </figure>
        <figure>
            <Image src="/images/jstp/jstp-antenna-rotator-4.webp" alt="รูปรวม" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
        </figure>
        <p>
            But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
            springing up around the country.
        </p>
        <h2>กิจกรรมนำเสนอความก้าวหน้า</h2>
        <p>
            กิจกรรมนำเสนอความก้าวหน้าในโครงการพัฒนาอัจฉริยภาพทางวิทยาศาสตร์สำหรับเด็กและเยาวชน (JSTP) 
            เป็นกิจกรรมที่เปิดโอกาสให้นักเรียนผู้ทำโครงการได้นำเสนอความก้าวหน้าในโครงงานของตนเองกับคณะกรรมการผู้มีความรู้
            เพื่อรับฟังคำชี้แนะที่สามารถนำไปปรับใช้ในโครงงานต่อไปได้
        </p>
        <p>
            ในกิจกรรม เราสามารถแบ่งการนำเสนออกมาเป็น 2 ครั้งย่อยได้แก่: การนำเสนอความก้าวหน้า 50% และ  การนำเสนอความก้าวหน้า 100%
            สำหรับโครงการ JSTP รุ่นที่ 26 ประจำปี 2566 การนำเสนอครั้งแรกจะอยู่ในช่วง 23 - 27 ตุลาคม 2566 
            และการนำเสนอครั้งสุดท้ายระหว่างวันที่ 12 - 16 พฤษภาคม 2567
        </p>
        <figure>
            <Image src="/images/jstp/jstp-presenting-1.jpg" alt="ระหว่างกิจกรรมนำเสนอความก้าวหน้า 50%" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">ระหว่างกิจกรรมนำเสนอความก้าวหน้า 50%</figcaption>
        </figure>
        <p>
            เนื้อหาของการนำเสนอครั้งแรก จะเป็นการรายงานความก้าวหน้าโครงงาน 4 เดือนที่ผ่านมาหลังจากที่เริ่มโครงการ และบอกแผนของโครงงานที่จะทำต่อไป
            เมื่อนำเสนอเสร็จก็จะได้คำแนะนำเกี่ยวกับทิศทางของโครงงานจากกรรมการ สำหรับการนำเสนอครั้งที่สองหรือครั้งสุดท้าย จะเป็นการนำเสนอโครงงาน
            ฉบับสมบูรณ์ ที่มีผลต่อการคำนวนคะแนนสำหรับแข่งขันได้รับทุน JSTP ระยะยาว (ระดับผู้มีแววอัจฉริยภาพ) ที่จะคัดเลือกเพียงแค่ 1 คนในแต่ละสาขาเท่านั้น
        </p>
        <figure>
            <Image src="/images/jstp/jstp-presenting-2.jpg" alt="ระหว่างกิจกรรมนำเสนอความก้าวหน้า 100%" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">ระหว่างกิจกรรมนำเสนอความก้าวหน้า 100%</figcaption>
        </figure>
        <h2>กิจกรรมอื่นๆ</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat mollis dui a iaculis. 
            Praesent quis ligula nisi. Suspendisse vel tristique turpis. Nunc in nulla ornare, dapibus lacus et, 
            tristique mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
            Quisque ullamcorper finibus est id sagittis. Cras mollis mauris sed semper pulvinar. Praesent porta, 
            erat non vehicula rhoncus, risus lectus pellentesque augue, eget malesuada dui nunc et ante. 
            Sed sed ipsum vel dolor volutpat volutpat. Morbi tempus maximus tortor, at lacinia ex viverra ut. 
            Vestibulum dui ligula, vehicula mattis erat sit amet, venenatis tincidunt eros. 
            Suspendisse vel tortor in mauris porta gravida. Integer nec sapien a risus viverra ornare eget et tortor. 
            Sed rhoncus neque vel elit dapibus, et mollis justo fermentum.
        </p>
        <figure>
            <Image src="/images/jstp/jstp-activity-1.webp" alt="รูปรวม" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
        </figure>
        <Image src="/images/jstp/jstp-activity-2.jpg" alt="Garlic bread with cheese" width={500} height={300} />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat mollis dui a iaculis. 
            Praesent quis ligula nisi. Suspendisse vel tristique turpis. Nunc in nulla ornare, dapibus lacus et, 
            tristique mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
            Quisque ullamcorper finibus est id sagittis. Cras mollis mauris sed semper pulvinar. Praesent porta, 
            erat non vehicula rhoncus, risus lectus pellentesque augue, eget malesuada dui nunc et ante. 
            Sed sed ipsum vel dolor volutpat volutpat. Morbi tempus maximus tortor, at lacinia ex viverra ut. 
            Vestibulum dui ligula, vehicula mattis erat sit amet, venenatis tincidunt eros. 
            Suspendisse vel tortor in mauris porta gravida. Integer nec sapien a risus viverra ornare eget et tortor. 
            Sed rhoncus neque vel elit dapibus, et mollis justo fermentum.
        </p>
        <figure>
            <Image src="/images/jstp/jstp-activity-4.jpg" alt="รูปรวม" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
        </figure>

        <h3>ความสำคัญของโครงการ</h3>
        <p>
            การทดลองนี้ยังสามารถนำสิ่งประดิษฐ์ที่ได้ไปประยุกต์ใช้ในกิจการด้านอื่นๆได้อีก ที่ต้องการความแม่นยำในการติดตาม เช่น การติดตามเครื่องบิน ทั้งเครื่องบินพาณิชย์ เรือเดินสมุทร หรือ พัฒนาไปในระบบที่ใหญ่ขึ้นเช่นทางด้านความปลอดภัยของประเทศ เช่น ติดตามเครื่องบินรบ เป็นพื้นฐานที่สำคัญในการสร้างปืนต่อสู้อากาศยาน , การติดต่อสื่อสารทางไกล ที่แม่นยำและรวดเร็ว, ข้อมูลทางด้านภูมิศาสตร์และสภาพอากาศที่นำมาปรับใช้กับการเพาะปลูกและการเกษตรกรรม รวมไปถึงการติดตามอากาศยานไร้คนขับสำหรับฉีดปุ๋ย ยาฆ่าแมลง หรืองานสำรวจพืชผลทางการเกษตร หรืองานอื่นๆที่เป็นอันตรายต่อมนุษย์ ซึ่งสามารถประยุกต์แขนกล และระบบนี้ทดแทนแรงงานจากมนุษย์ได้เช่นกัน
        </p>

        <h2>สิ่งที่ได้รับจากโครงการ JSTP</h2>
        <figure>
            <Image src="/images/jstp/jstp-activity-3.jpg" alt="รูปรวม" width={500} height={300} />
            <figcaption class="mt-2 text-sm text-gray-600">ระหว่างกิจกรรมนำเสนอความก้าวหน้า 50%</figcaption>
        </figure>
        
        <figure class="max-w-[500px] w-full">
            <div class="relative" style="padding-top: 56.25%;"> <!-- 16:9 aspect ratio -->
            <iframe class="absolute top-0 left-0 w-full h-full" 
                src="placeholder" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
                loading="lazy">
            </iframe>
            </div>
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
        </figure>
    </div>

      
      

</Layout>