---
import Layout from '../layouts/Layout.astro';
---

<Layout title='โครงงาน | nabtang.cc เว็บไซต์ Portfolio ออนไลน์ Dek68'>
    <h1>Project</h1>
    <br>
    <a href="/jstp">JSTP</a>
    <br>
    <br>
    <a href="/ham">กิจการวิทยุสมัครเล่น</a>
</Layout>