---

---

<section class="mt-20 md:mt-24 lg:mt-28 xl:mt-36 relative w-full"> 
    <div class="w-full"> 
        <span class="bg-clip-text text-transparent bg-red-pink-gradient font-semibold">
            ดีที่สุดในระดับงานเดียวกัน
        </span> 
        <h2 class="mt-1 font-heading text-2xl lg:text-3xl text-black text-balance"> 
            <strong>สัมผัสประสบการณ์การโหลดเว็บไซต์ที่รวดเร็วทันใจด้วย Astro</strong> 
        </h2> 
        <p class="mt-3 w-full lg:w-3/4 xl:w-4/5 text-base text-gray-600 lg:text-balance font-light"> 
            เฟรมเวิร์กพัฒนาเว็บไซต์ที่เน้นความเร็วด้วยการลดปริมาณ JavaScript และใช้แนวคิด "island architecture" ทำให้เว็บโหลดเร็วขึ้น รองรับการใช้งานร่วมกับเฟรมเวิร์กยอดนิยม เช่น React และ Vue สำหรับเว็บไซต์ที่ต้องการประสิทธิภาพสูง    
    </div>
    
    <div id="stardust" class="w-full shrink-0 absolute -z-50 rotate-[-7deg] blur-[160px] rounded-full h-56 md:h-80 lg:h-96" data-astro-cid-b2xzbshs=""></div>  

    <div class="mt-8 p-4 sm:p-8 bg-gray-50 border rounded-xl sm:rounded-2xl"> 
        <p class="font-bold">Real-World Core Web Vitals</p> 
        <div class="mt-8 mb-5">
            <!-- Astro -->
            <div data-glow="" class="mt-4 w-full group whitespace-nowrap flex flex-col lg:flex-row lg:items-center justify-start gap-4"> 
                <p class="lg:w-2/12 xl:w-1/12 min-w-36 hidden lg:block text-xl lg:text-end heading-3 font-bold"> Astro </p> 
                <div class="h-8 sm:h-10 w-full flex items-center gap-2 outline outline-offset-2 sm:outline-offset-4 outline-1 outline-gray-600 group-data-[glow]:outline-astro-gray-400 rounded-lg"> 
                    <div style="width:65%" class="px-2 h-full flex items-center gap-2 bg-gray-400 group-data-[glow]:bg-blue-green-gradient rounded-lg"> 
                        <svg fill="white" viewBox="0 0 85 107" aria-label="Astro logo" class="size-[22px]" astro-icon="logos/astro">
                            <path d="M27.59 91.136c-4.834-4.418-6.246-13.703-4.232-20.429 3.492 4.241 8.33 5.584 13.342 6.343 7.737 1.17 15.336.732 22.523-2.804.822-.405 1.582-.943 2.48-1.489.675 1.957.85 3.932.615 5.943-.573 4.896-3.01 8.678-6.885 11.545-1.55 1.147-3.19 2.172-4.79 3.253-4.917 3.323-6.247 7.22-4.4 12.888.044.139.084.277.183.614-2.51-1.124-4.344-2.76-5.742-4.911-1.475-2.27-2.177-4.78-2.214-7.498-.019-1.322-.019-2.656-.197-3.96-.434-3.178-1.926-4.601-4.737-4.683-2.884-.084-5.166 1.699-5.771 4.507-.046.216-.113.429-.18.68l.004.001ZM0 69.587s14.314-6.973 28.668-6.973L39.49 29.12c.405-1.62 1.588-2.72 2.924-2.72 1.335 0 2.518 1.1 2.924 2.72L56.16 62.614c17 0 28.668 6.973 28.668 6.973S60.514 3.352 60.467 3.219C59.769 1.261 58.591 0 57.003 0H27.827c-1.588 0-2.718 1.261-3.464 3.22C24.311 3.35 0 69.586 0 69.586Z"></path>
                        </svg> 
                    </div> 
                    <p class="sr-only">Astro Core Web Vitals Passing</p> 
                    <p class="text-lg sm:text-xl group-data-[glow]:text-2xl sm:group-data-[glow]:text-3xl font-semibold text-gray-500 group-data-[glow]:bg-clip-text group-data-[glow]:text-transparent group-data-[glow]:bg-blue-green-gradient"> 65% </p> 
                </div> 
            </div> 

            <div class="mt-4 w-full group whitespace-nowrap flex flex-col lg:flex-row lg:items-center justify-start gap-4"> 
                <!-- Gatsby -->
                <p class="lg:w-2/12 xl:w-1/12 min-w-36 hidden lg:block text-xl lg:text-end heading-3 font-bold"> Gatsby </p> 
                <div class="h-8 sm:h-10 w-full flex items-center gap-2 outline outline-offset-2 sm:outline-offset-4 outline-1 outline-gray-400 group-data-[glow]:outline-astro-gray-400 rounded-lg"> 
                    <div style="width:45%" class="px-2 h-full flex items-center gap-2 bg-gray-400 group-data-[glow]:bg-blue-green-gradient rounded-lg"> 
                        <svg fill="none" viewBox="0 0 18 18" aria-label="Gatsby logo" class="size-[19px]" astro-icon="logos/gatsby">
                            <path fill="#fff" d="M9 0C4.05 0 0 4.05 0 9s4.05 9 9 9 9-4.05 9-9-4.05-9-9-9ZM3.986 14.014c-1.35-1.35-2.057-3.15-2.057-4.885l7.007 6.942c-1.8-.064-3.6-.707-4.95-2.057Zm6.557 1.865L2.12 7.457C2.83 4.307 5.657 1.93 9 1.93c2.379 0 4.436 1.157 5.721 2.892l-.964.836C12.664 4.18 10.93 3.214 9 3.214c-2.507 0-4.629 1.607-5.464 3.857l7.393 7.393c1.864-.643 3.278-2.25 3.728-4.178h-3.086V9h4.5c0 3.343-2.378 6.171-5.528 6.879Z"></path>
                        </svg> 
                    </div> 
                    <p class="sr-only">Gatsby Core Web Vitals Passing</p> 
                    <p class="text-lg sm:text-xl group-data-[glow]:text-2xl sm:group-data-[glow]:text-3xl font-semibold text-gray-500"> 45% </p> 
                    </div> 
                </div> 

                <!-- WordPress -->
                <div class="mt-4 w-full group whitespace-nowrap flex flex-col lg:flex-row lg:items-center justify-start gap-4"> 
                    <p class="lg:w-2/12 xl:w-1/12 min-w-36 hidden lg:block text-xl lg:text-end heading-3 font-bold"> WordPress </p> 
                    <div class="h-8 sm:h-10 w-full flex items-center gap-2 outline outline-offset-2 sm:outline-offset-4 outline-1 outline-gray-400 group-data-[glow]:outline-astro-gray-400 rounded-lg"> 
                        <div style="width:43%" class="px-2 h-full flex items-center gap-2 bg-gray-400 group-data-[glow]:bg-blue-green-gradient rounded-lg"> 
                            <svg viewBox="0 0 512 512" aria-label="WordPress logo" class="size-5" astro-icon="logos/wordpress">
                                <path fill="white" d="m61.7 169.4 101.5 278C92.2 413 43.3 340.2 43.3 256c0-30.9 6.6-60.1 18.4-86.6m337.9 75.9c0-26.3-9.4-44.5-17.5-58.7-10.8-17.5-20.9-32.4-20.9-49.9 0-19.6 14.8-37.8 35.7-37.8.9 0 1.8.1 2.8.2-37.9-34.7-88.3-55.9-143.7-55.9-74.3 0-139.7 38.1-177.8 95.9 5 .2 9.7.3 13.7.3 22.2 0 56.7-2.7 56.7-2.7 11.5-.7 12.8 16.2 1.4 17.5 0 0-11.5 1.3-24.3 2l77.5 230.4L249.8 247l-33.1-90.8c-11.5-.7-22.3-2-22.3-2-11.5-.7-10.1-18.2 1.3-17.5 0 0 35.1 2.7 56 2.7 22.2 0 56.7-2.7 56.7-2.7 11.5-.7 12.8 16.2 1.4 17.5 0 0-11.5 1.3-24.3 2l76.9 228.7 21.2-70.9c9-29.4 16-50.5 16-68.7m-139.9 29.3-63.8 185.5c19.1 5.6 39.2 8.7 60.1 8.7 24.8 0 48.5-4.3 70.6-12.1-.6-.9-1.1-1.9-1.5-2.9zm183-120.7c.9 6.8 1.4 14 1.4 21.9 0 21.6-4 45.8-16.2 76.2l-65 187.9C426.2 403 468.7 334.5 468.7 256c0-37-9.4-71.8-26-102.1M504 256c0 136.8-111.3 248-248 248C119.2 504 8 392.7 8 256 8 119.2 119.2 8 256 8c136.7 0 248 111.2 248 248m-11.4 0c0-130.5-106.2-236.6-236.6-236.6C125.5 19.4 19.4 125.5 19.4 256S125.6 492.6 256 492.6c130.5 0 236.6-106.1 236.6-236.6"></path>
                            </svg> 
                        </div> 
                        <p class="sr-only">WordPress Core Web Vitals Passing</p> 
                        <p class="text-lg sm:text-xl group-data-[glow]:text-2xl sm:group-data-[glow]:text-3xl font-semibold text-gray-500"> 43% </p> 
                    </div> 
                </div> 

                <!-- Next.js -->
                <div class="mt-4 w-full group whitespace-nowrap flex flex-col lg:flex-row lg:items-center justify-start gap-4"> 
                    <p class="lg:w-2/12 xl:w-1/12 min-w-36 hidden lg:block text-xl lg:text-end heading-3 font-bold"> Next.js </p> 
                    <div class="h-8 sm:h-10 w-full flex items-center gap-2 outline outline-offset-2 sm:outline-offset-4 outline-1 outline-gray-400 group-data-[glow]:outline-astro-gray-400 rounded-lg"> 
                        <div style="width:29%" class="px-2 h-full flex items-center gap-2 bg-gray-400 group-data-[glow]:bg-blue-green-gradient rounded-lg"> 
                            <svg fill="none" viewBox="0 0 20 20" aria-label="Next.js logo" class="size-5" astro-icon="logos/next-js">
                                <path stroke="#fff" stroke-width="1.5" d="M19.25 10a9.25 9.25 0 1 1-18.5 0 9.25 9.25 0 0 1 18.5 0Z"></path><path fill="url(#astroicon:logos/next-jsa)" d="M16.61 17.5 7.68 6H6v8h1.35V7.7l8.2 10.62c.38-.25.73-.52 1.06-.82Z"></path><path fill="url(#astroicon:logos/next-jsb)" d="M14.11 6h-1.33v8h1.33V6Z"></path><defs><linearGradient id="astroicon:logos/next-jsa" x1="12.11" x2="16.06" y1="12.94" y2="17.83" gradientUnits="userSpaceOnUse"><stop stop-color="#fff"></stop><stop offset="1" stop-color="#fff" stop-opacity="0"></stop></linearGradient><linearGradient id="astroicon:logos/next-jsb" x1="13.44" x2="13.42" y1="6" y2="11.88" gradientUnits="userSpaceOnUse"><stop stop-color="#fff"></stop><stop offset="1" stop-color="#fff" stop-opacity="0"></stop></linearGradient></defs>
                            </svg> 
                        </div> 
                        <p class="sr-only">Next.js Core Web Vitals Passing</p> 
                        <p class="text-lg sm:text-xl group-data-[glow]:text-2xl sm:group-data-[glow]:text-3xl font-semibold text-gray-500"> 29% </p> 
                    </div> 
                </div> 

                <!-- Nuxt -->
                <div class="mt-4 w-full group whitespace-nowrap flex flex-col lg:flex-row lg:items-center justify-start gap-4"> 
                    <p class="lg:w-2/12 xl:w-1/12 min-w-36 hidden lg:block text-xl lg:text-end heading-3 font-bold"> Nuxt </p> 
                    <div class="h-8 sm:h-10 w-full flex items-center gap-2 outline outline-offset-2 sm:outline-offset-4 outline-1 outline-gray-400 group-data-[glow]:outline-astro-gray-400 rounded-lg"> 
                        <div style="width:27%" class="px-2 h-full flex items-center gap-2 bg-gray-400 group-data-[glow]:bg-blue-green-gradient rounded-lg"> 
                            <svg fill="white" viewBox="0 0 22 22" aria-label="Nuxt logo" class="size-6" astro-icon="logos/nuxt">
                                <path d="M12.1 17.09h6.73c.22 0 .43-.08.61-.18.19-.11.38-.25.49-.43.1-.18.18-.4.18-.6 0-.22-.08-.43-.18-.61l-4.56-7.84a1.1 1.1 0 0 0-.42-.42 1.47 1.47 0 0 0-.67-.19c-.22 0-.42.08-.6.19-.2.1-.33.24-.43.42l-1.16 2-2.3-3.88a1.28 1.28 0 0 0-.43-.49c-.19-.1-.4-.12-.6-.12-.22 0-.43.02-.61.12-.2.1-.38.3-.49.49l-5.65 9.72c-.1.18-.12.39-.12.6 0 .22.01.43.12.61s.3.32.49.43c.18.1.39.18.6.18h4.26c1.68 0 2.9-.76 3.76-2.19l2.07-3.58 1.09-1.88 3.34 5.7h-4.43l-1.1 1.95Zm-4.8-1.95H4.32L8.75 7.5 11 11.32l-1.49 2.6c-.57.92-1.21 1.22-2.21 1.22Z"></path>
                            </svg> 
                        </div> 
                        <p class="sr-only">Nuxt Core Web Vitals Passing</p> 
                        <p class="text-lg sm:text-xl group-data-[glow]:text-2xl sm:group-data-[glow]:text-3xl font-semibold text-gray-500"> 27% </p> 
                    </div> 
                </div> 
            </div> 

            <p class="text-balance"> 
                <a class="text-gray-600 underline underline-offset-2 decoration-astro-gray-300 hover:decoration-white transition-colors durartion-500 ease-out" href="https://lookerstudio.google.com/u/0/reporting/55bc8fad-44c2-4280-aa0b-5f3f0cd3d2be/page/M6ZPC?params=%7B%22df44%22:%22include%25EE%2580%25800%25EE%2580%2580IN%25EE%2580%2580WordPress%25EE%2580%2580Next.js%25EE%2580%2580Nuxt.js%25EE%2580%2580Gatsby%25EE%2580%2580Astro%25EE%2580%2580SvelteKit%25EE%2580%2580Remix%22%7D" target="_blank" rel="noopener noreferrer">ดูชุดข้อมูลทั้งหมด</a> · อ้างอิงจากข้อมูลประสิทธิภาพจริงจาก
                <a class="text-gray-600 underline underline-offset-2 decoration-astro-gray-300 hover:decoration-white transition-colors durartion-500 ease-out" href="https://httparchive.org/" target="_blank" rel="noopener noreferrer">HTTP Archive</a> และ
                <a class="text-gray-600 underline underline-offset-2 decoration-astro-gray-300 hover:decoration-white transition-colors durartion-500 ease-out" href="https://developer.chrome.com/docs/crux" target="_blank" rel="noopener noreferrer">Chrome UX Report</a>.
            </p> 
    </div> 
</section>

<style>
    .bg-red-pink-gradient {
    background-image: linear-gradient(66.77deg,#d83333,#f041ff)
    }

    .group[data-glow] .group-data-\[glow\]\:bg-blue-green-gradient {
    background-image: linear-gradient(247.23deg,#4af2c8,#2f4cb3)
    }  
</style>