---
---

<footer 
    class="flex flex-col items-center border-t border-gray-300 px-24 py-5 
           max-sm:px-5 max-sm:w-full max-w-7xl mx-auto mt-8"
>
    <div class="flex justify-center items-center w-full">
        <p class="text-gray-600">© 2024 Nabsatang02. All rights reserved.</p>
    </div>
</footer>