<article class="mt-20 md:mt-24 lg:mt-28 xl:mt-36 flex flex-col gap-8"> 
	<header class="flex w-full flex-row justify-between gap-2"> 
		<h2 class="font-heading text-2xl lg:text-3xl text-black text-balance"><strong>ผลงานแนะนำ</strong></h2> 
		<a href="/project" class="hover:text-gray-600 cursor-pointer underline decoration-dashed underline-offset-8" target="_self" rel="noreferrer"> ดูผลงานทั้งหมด </a>
	</header>  
	<section class="flex flex-col gap-4"> 
		<a class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center" href="/jstp">
			<div class="flex flex-col gap-4 md:flex-col md:items-left">
                <p>โครงการพัฒนาอัจฉริยภาพทางวิทยาศาสตร์สำหรับเด็กและเยาวชน : Junior Science Talent Project (JSTP) รุ่นที่ 26</p>
				<p class="text-gray-600">
                    สำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ (สวทช.)</p>
				<p>กิจกรรมทางวิชาการ • งานวิจัย</p>
			</div>
			<svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="transition-all duration-300 group-hover:translate-x-1"><path d="M5.25 12.75L12.75 5.25" stroke="#999999" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5.25 5.25H12.75V12.75" stroke="#999999" stroke-linecap="round" stroke-linejoin="round"></path></svg>
		</a>
		<a class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center" href="https://github.com/MaeWolff/create-nextjs-app-bash-script" target="_blank">
			<div class="flex flex-col gap-4 md:flex-col md:items-left">
				<p class=>โครงการดาวเทียมเพื่อการศึกษาเรียนรู้ KNACKSAT3</p>
				<p class="text-gray-600">มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ (มจพ.)</p>
				<p>กิจกรรมทางวิชาการ • ดาวเทียม</p>
			</div>
			<svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="transition-all duration-300 group-hover:translate-x-1"><path d="M5.25 12.75L12.75 5.25" stroke="#999999" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5.25 5.25H12.75V12.75" stroke="#999999" stroke-linecap="round" stroke-linejoin="round"></path></svg>
		</a>
		<a class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center" href="https://asso-transpire.org/" target="_blank">
			<div class="flex flex-col gap-4 md:flex-col md:items-left">
				<p class="text-gray-600">กิจการนักวิทยุสมัครเล่น</p>
				<p>Astro • Typescript</p>
			</div>
			<svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="transition-all duration-300 group-hover:translate-x-1"><path d="M5.25 12.75L12.75 5.25" stroke="#999999" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5.25 5.25H12.75V12.75" stroke="#999999" stroke-linecap="round" stroke-linejoin="round"></path></svg>
		</a>
		<a class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center" href="https://github.com/MaeWolff/dictionary-app" target="_blank">
			<div class="flex flex-col gap-4 md:flex-col md:items-left">
				<p class="text-gray-600">Dictionary App</p>
				<p>Next.js • react-query • zod</p>
			</div>
			<svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="transition-all duration-300 group-hover:translate-x-1"><path d="M5.25 12.75L12.75 5.25" stroke="#999999" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5.25 5.25H12.75V12.75" stroke="#999999" stroke-linecap="round" stroke-linejoin="round"></path></svg>
		</a>
		<a class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center" href="https://github.com/MaeWolff/astro-portfolio-template" target="_blank">
			<div class="flex flex-col gap-4 md:flex-col md:items-left">
				<p class="text-gray-600">🌟 เว็บไซต์พอร์ตโฟลิโอโดยใช้ Astro และ Cloudflare</p>
				<p>เว็บไซต์ • Astro</p>
			</div>
			<svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="transition-all duration-300 group-hover:translate-x-1"><path d="M5.25 12.75L12.75 5.25" stroke="#999999" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5.25 5.25H12.75V12.75" stroke="#999999" stroke-linecap="round" stroke-linejoin="round"></path></svg>
		</a> 
	</section> 
</article>